/* CSS Document */

/* type selectors */

fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
	width:100%;
	
}
legend {
    color: blue;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
}
label {
	float: left;
    width: 90px;
	font-size:85%;
}
input, select {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: .5em;
}
/*input {
    width: 10em;	
}*/
input.left {
	width: 1em;
	padding-left: 0;
}
p {
	margin-top: 0;
	margin-bottom: .5em;
}
input.last {
	margin-bottom: 1em;
}
#adults, #children {
	width: 35px;
}
#smoking {
	width: 1em;
	margin-left: 0;
}
#submit {
	margin-left: 0;
	width: 10em;
}
label.error {
	float: none;
	color: red;
	font-size: 70.5%;
}

